$ cat .gitignore
*.pyc
.idea
.idea_modules
.DS_Store
thunder.iml
project/project
project/target
target*
python/dist
python/build
python/thunder.egg-info
python/thunder_python.egg-info
python/doc/build
python/doc/tutorials/build
python/doc/generated
*.iml
python/thunder/lib/*dev*.egg

