body {
	background-color: rgb(200,200,200);
	color: #2d3c48;
     font: 18px "Helvetica Neue", sans-serif;
     font-weight: 300;
     -webkit-font-smoothing: antialiased;
}

p {
     font-size: 18px;
}

a {
     color: #d9230f;
     transition: all .25s; 
     -moz-transition: all .25s; 
     -webkit-transition: all .25s;
     border: 0;
}

h3 {
     color: #2d3c48;
}

#want-more {
     font-size: 28px;
     font-weight: 200;
     text-align: center;
}

.btn-white-outline{
     color:#fff;
     border:2px solid #fff;
     background:transparent;
     -webkit-transition:all .3s;
     -moz-transition:all .3s;
     -ms-transition:all .3s;
     -o-transition:all .3s;
     transition:all .3s;
     -webkit-border-radius:6px;
     border-radius:6px;
     -webkit-background-clip:padding-box;
     background-clip:padding-box;
     font-weight:600;
     -webkit-font-smoothing:antialiased
}

.btn-white-outline:hover,.btn-white-outline:focus{
     border:2px solid #f7f7f7;
     color:#f7f7f7;
     background:rgba(255,255,255,0.2)
}


a:hover {
     color: #91170a;
     text-decoration: none;
     transition: all .25s; 
     -moz-transition: all .25s; 
     -webkit-transition: all .25s;
}

footer {
     background-color: rgb(230,230,230);
     border-top: 1px solid rgb(180,180,180);
     padding: 25px;
}

#builtby {
     font-size: 15px;
}

article {
     margin-bottom: 60px;
}

pre {
     border: 1px solid rgb(180,180,180);
     background-color: rgb(230,230,230);
}

pre code {
     background: transparent;
     font-size: 12px;
}

#inline {
     box-shadow: inset 0 1px 10px rgba(0,0,0,.3),0 1px 0 rgba(255,255,255,.1),0 -1px 0 rgba(0,0,0,.5);
     background-color: rgb(51,51,51);
     border-radius: 4px;
     font-size: 15px;
     font-family: Menlo;
     color: #c5c8c6;
     padding: 5px;
}


@media (min-width: 1200px) {
    .container{
        width: 1030px;
    }
}


.jumbotron {
     position: relative;
     background: none;
     padding: 5px;
     margin-bottom: 0px;
     margin-top: 0px;
     line-height: 2.1428571435;
     height: 550px;
     
 }


.jumbotron:after {
     content:"";
     background: url("../images/banner-full.png") left center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     opacity: 1;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;
 }

.navbar-default {
     background-color: transparent;
     border-color: transparent;
}

.navbar-default .navbar-nav > li > a {
	color: rgb(150,150,150);
}

.navbar-default .navbar-nav > .active > a {
     color: white;
     background-color: transparent;
}

.nav-pills > li > a {
     font-weight: bold;
     text-transform: lowercase;
     font-family: helvetica neue;
}

.nav-pills > li > a:hover {
     color: rgb(115,201,152);
     background: #252525;
     box-shadow: inset 0 1px 3px rgba(0,0,0,.5), 0 1px 0 rgba(255,255,255,.1);
     text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
     color: black;
     background-color: rgb(157,204,122);
     box-shadow: none;
     text-shadow: none;
}


.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
     color: white;
     background-color: transparent;
}

#menu {
     border-bottom: none;
     font-weight: bold;
     text-transform: lowercase;
     font-family: helvetica neue;
}

#header {
	width: 270px;
     margin-top: 10px;
     margin-left: 10px;
     padding-bottom: 20px;
     margin-right: 1000px;
}

#header-container {
     font-size: 85px;
     line-height: 1.2;
}

#subheader {
	font-size: 85px;
     font-weight: 400;
     color: white;
     font-family: 'Source Sans Pro', sans-serif;
}

#features {
     border-bottom: 1px solid rgb(180,180,180);
     background-color: rgb(230,230,230);
}

#getting-started {
     padding-top: 40px;
     transition: all .25s; 
     -moz-transition: all .25s; 
     -webkit-transition: all .25s;
}

#docs {
     background-color: gray;
     border-radius: 10px;
     box-shadow: 0 3px 10px rgba(0,0,0,.1);
     padding: 40px;
}

#doctitle {
     font-size: 52px;
     color: white;
}

#subtitle1 {
     color: rgb(58,219,123);
}

#subtitle2 {
     color: rgb(249,168,95);
}

#subtitle3 {
     color: rgb(190,121,209);
}

#subtitle1, #subtitle2, #subtitle3 {
     font-style: italic;
     font-weight: 700;
     margin-top: 50px;
}

#subcontent {
     font-weight: 200;
     line-height: 1.3;
     margin-bottom: 80px;
}

#docsubtitle {
     font-size: 30px;
     color: white;
}

.btn-default, .btn-default > a {
     font-weight: bold;
     font-family: helvetica neue;
     background: #252525;
     color: rgb(157,204,122);
     box-shadow: inset 0 1px 3px rgba(0,0,0,.5), 0 1px 0 rgba(255,255,255,.1);
     text-shadow: 0 1px 3px rgba(0,0,0,.5);
     border-color: black;
     font-size: 20px;
     border: none;
     transition: all .25s; 
     -moz-transition: all .25s; 
     -webkit-transition: all .25s;
}

.btn-default:hover, .btn-default:hover > a {
     color: white;
     background: #252525;
     box-shadow: inset 0 1px 3px rgba(0,0,0,.5), 0 1px 0 rgba(255,255,255,.1);
     text-shadow: 0 1px 3px rgba(0,0,0,.5);
     border-color: black;
     border: none;
     transition: all .25s; 
     -moz-transition: all .25s; 
     -webkit-transition: all .25s;
}

.btn-default.active, .btn-default.active > a, .btn-default:active, .btn-default:active > a, .btn-default:focus, .btn-default:focus > a {
     background-color: rgb(157,204,122);
     box-shadow: none;
     text-shadow: none;
     border-color: black;
     color: white;
     border: none;
     transition: all .25s; 
     -moz-transition: all .25s; 
     -webkit-transition: all .25s;

}




@media (max-width: 480px) {
     .jumbotron {
          height: 400px;
     }

     #subheader {
          font-size: 35px;
          text-align: center;
     }

     p {
          font-size: 14px;
     }

     pre code {
          background: transparent;
          font-size: 12px;
     }

     #subtitle1, #subtitle2, #subtitle3, #subcontent {
          text-align: center;
          font-size: 18px;
     }

     #docs {
          padding: 20px;
     }

     #doctitle {
          font-size: 30px;
     }

     #inline {
          font-size: 12px;


}








