include *.rst
include *.txt
include thunder/utils/data/fish/bin/*.json
include thunder/utils/data/fish/bin/*.bin
include thunder/utils/data/fish/tif-stack/*.tif
include thunder/utils/data/iris/*.json
include thunder/utils/data/iris/*.bin
include thunder/utils/data/iris/*.mat
include thunder/utils/data/iris/*.npy
include thunder/utils/data/iris/*.txt
include thunder/lib/*.jar